<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.aicommunitybackend.mapper.UserChatSettingsMapper">

    <resultMap id="BaseResultMap" type="com.zheng.aicommunitybackend.domain.entity.UserChatSettings">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="allowStrangerMessage" column="allow_stranger_message" jdbcType="TINYINT"/>
            <result property="messageNotification" column="message_notification" jdbcType="TINYINT"/>
            <result property="notificationSound" column="notification_sound" jdbcType="TINYINT"/>
            <result property="vibration" column="vibration" jdbcType="TINYINT"/>
            <result property="fontSize" column="font_size" jdbcType="TINYINT"/>
            <result property="theme" column="theme" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,allow_stranger_message,
        message_notification,notification_sound,vibration,
        font_size,theme,create_time,
        update_time
    </sql>
</mapper>
